<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Auth0.AuthenticationApi" version="5.4.0" targetFramework="net461" />
  <package id="Auth0.Core" version="5.4.0" targetFramework="net461" />
  <package id="Auth0.ManagementApi" version="5.4.0" targetFramework="net461" />
  <package id="DotNetNuke.Core" version="7.2.0.613" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
</packages>